[Unit]
Description=Merlin daemon
BindTo=network.target

[Service]
User=naemon
Restart=on-failure
ExecStart=/usr/local/bin/merlind -c /usr/local/etc/merlin/merlin.conf -d

[Install]
WantedBy=multi-user.target

